# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*
# especially intellij things
.idea
# and vscode
.vscode
# and fucking nodejs
*/node_modules
# But not these files...
!/.gitignore
!*.go
!go.sum
!go.mod
!*.md
!LICENSE
!*.sh
!Makefile
!*.json
!*.pdf
!*.csv
!*.py
!*.mediawiki
!*.did
!*.rs
!*.toml
!*.file
!.gitkeep
!pkg/eth/**
!*.h
!*.c
!*.proto
!bundleData
!*.item
!*.bin
!*.js
# ...even if they are in subdirectories
!*/
node_modules/
